<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入配置文件，对标 MyBatis 配置文件中的 <properties resource="jdbc.properties"/>-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--包扫描-->
    <context:component-scan base-package="com.mufeng"/>

    <!--注解开发模式驱动-->
    <mvc:annotation-driven>
        <!--解决乱码问题-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="defaultCharset" value="UTF-8"/>
<!--                <property name="supportedMediaTypes">-->
<!--                    <list>-->
<!--                        <value>text/html;charset=UTF-8</value>-->
<!--                        <value>application/json;charset=UTF-8</value>-->
<!--                    </list>-->
<!--                </property>-->
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--放行静态文件-->
    <mvc:default-servlet-handler/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!--视图解析器将模板引擎与数据结合后返回的字符集-->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <!--后缀-->
        <property name="suffix" value=".ftl"/>
    </bean>

    <!--freemarker配置-->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!--前缀，模板引擎的位置。TOMCAT不支持对 freemarker的天然解析-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>

        <!--freeMarker的本地配置文件-->
        <!--<property name="configLocation" value=""/>-->
        <property name="freemarkerSettings">
            <props>
                <!--对模板引擎的配置-->
                <prop key="defaultEncoding">UTF-8</prop>
            </props>
        </property>
    </bean>

    <!--文件上传配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="20480000"/>
    </bean>

    <!--DAO配置-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--最大活跃连接数量，默认为8-->
        <property name="maxActive" value="10"/>
        <!--初始化连接数量-->
        <!--<property name="initialSize" value="6"/>-->
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--扫描MyBatisDAO中的接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mufeng.dao"/>
    </bean>

    <!--事务管理-->
    <!--基于数据源的事务管理器-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启声明式事务-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!--配置跨域访问-->
    <mvc:cors>
        <mvc:mapping path="/**"
                     allowed-origins="*"
                     allowed-methods="*"
                     allowed-headers="*"
                     allow-credentials="true"/>
    </mvc:cors>

</beans>